html
  head
    title='Docker FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Docker learners!!!
        h2 Check out my other books
        p
          a.btn.btn-primary(href="https://www.amazon.com/Quick-Start-Kubernetes-Nigel-Poulton-ebook/dp/B08T21NW4Z/ref=sr_1_1?dchild=1&keywords=quick+start+kubernetes&qid=1625132469&sr=8-1" target="_blank") Quick Start Kubernetes

          a.btn.btn-outline-primary(href="https://www.amazon.com/Kubernetes-Book-Version-November-2018-ebook/dp/B072TS9ZQZ/ref=sr_1_1?dchild=1&keywords=the+kubernetes+book&qid=1625132902&sr=8-1" target="_blank") The Kubernetes Book          
          
        p
        p Be careful. The last time I updated the packages in this app was May 2023.

