<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Docker FTW</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <img src="/static/images/image.png" alt="NP logo" class="center">
        <header>
        <div class="container">
            <h1 class="logo">Docker FTW</h1>
        </div>
        </header>
    <div class="container">
        <h2>Hit refresh if you think Ameen has the greatest AI Cloud Engineer team in the world ;-)</h2>
        <h3>You've refreshed <b>{{ count }}</b> times</h3>
    </div>
  </body>
</html>